@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

:root {
    --Pink: hsl(322, 100%, 66%);
    --Very-Pale-Cyan: hsl(193, 100%, 96%);
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Grayish-Blue: hsl(208, 11%, 55%);
    --ff-p: 'Open Sans', sans-serif;
    --ff-h1: 'Poppins', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 1.2rem;
    font-family: var(--ff-p);
    color: var(--Very-Dark-Cyan);
}
h1, 
h2 {
    font-family: var(--ff-h1);
}
p {
    opacity: 0.6;
}
img {
    max-width: 100%;
}
.btn {
    font-weight: 700;
    border-radius: 50px;
    background-color: white;
    border: none;
    font-size: 16px;
    padding: 15px 60px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}
.btn-primary {
    background-color: var(--Pink);
    color: white;
}
.container {
    width: 1000px;
    /* when window is smaller than 1000px just fill screen */
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}   
header {
    background-image: url('images/bg-hero-desktop.svg');
    background-position: center center;
    background-size: cover;
    background-color: var(--Very-Pale-Cyan);
    padding: 40px 0;
}
.flex {
    display: flex;
    align-items: center;
}
/* make sure 50/50 space for image and text */
/* also need for footer ul */
.flex > div, 
.flex > ul {
    flex: 1;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    margin: 40px 0;
    padding: 60px;
}
.box img {
    width: 80%;
}
.small-box {
    display: inline-block; 
    margin-bottom: -50%;
} 
.center {
    text-align: center;
}
footer {
    background-color: var(--Very-Dark-Cyan);
    color: white;
    padding: 180px 0 60px;
}
footer ul {
    list-style: none;
}
footer ul li {
    margin-bottom: 20px;
}
.align-start {
    align-items: flex-start;
}
footer .circle {
    width: 40px;
    height: 40px;
    border: solid white 1px;
    border-radius: 50px;
    display: inline-flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    color: white;
    margin-right: 10px;
}
footer .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p {
    text-align: right;
}

@media (max-width: 768px) {
    body {
        text-align: center;
    }
    .flex {
        flex-direction: column;
    }
    .header-img {
        margin-top: 30px;
    }
    /* second box has text first */
    .reverse-mobile {
        flex-direction: column-reverse;
    }
    footer ul {
        width: 100%;
    }
    footer p {
        text-align: center;
    }
}